# In order to cache Prisma correctly
# public-hoist-pattern[]=[*prisma*, *hardhat-toolbox*]

# FIXME: @prisma/client is required by the @turbo-web3/auth,
# but we don't want it installed there since it's already
# installed in the @turbo-web3/db package
# strict-peer-dependencies=false

auto-install-peers=true
shamefully-hoist=true